# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Testing tools
.pytest_cache/

# Distribution / packaging
./build/
dist/

# Environments
.venv
.env
venv/

# IDE specific
*~
.vscode/settings.json

# OS specific
*.DS_Store

# To put some untracked file without bothering Flit
tmp_flit/
